# Utils Usage for AB Testing Tasks

In [ ]:
import os
import sys
from pathlib import Path

# Add root folder to path (for module imports, modifies the specific python session/kernel)
sys.path.insert(0, str(Path.cwd().parent))

# Change working directory (for I/O operations, modifies the current working directory)
os.chdir(Path.cwd().parent)

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Import utils scripts
from utils.preprocessing import *

In [3]:
# Read data
df = pd.read_csv('data/ab_testing_data.csv')

# Preview data
display(df.head())

,user_id,group,converted,time_on_page,pages_viewed,device,browser,country,age_group,returning_user,revenue,timestamp
0,USER_01860,treatment,0,113.204440,4,Desktop,Chrome,US,18-24,False,0.000000,2024-01-29 20:12:00
1,USER_00353,control,0,155.030588,6,Mobile,Other,UK,35-44,False,0.000000,2024-01-13 10:30:00
2,USER_01333,treatment,1,23.893203,3,Tablet,Edge,UK,18-24,True,66.937597,2024-01-28 10:11:00
3,USER_00905,control,0,27.149888,9,Desktop,Chrome,US,45-54,False,0.000000,2024-01-29 12:05:00
4,USER_01289,treatment,0,69.003500,2,Mobile,Chrome,Canada,25-34,True,0.000000,2024-01-25 16:33:00

In [4]:
# Check data information
info_df = check_data_information(df, df.columns.tolist())
display(info_df)

,Feature,Data Type,Null Values,Null Percentage,Duplicated Values,Unique Values,Unique Sample
0,user_id,object,0,0.0,0,2000,"USER_01860, USER_00353, USER_01333, USER_00905..."
1,group,object,0,0.0,0,2,"treatment, control"
2,converted,int64,0,0.0,0,2,"0, 1"
3,time_on_page,float64,40,2.0,0,1960,"113.2044401614791, 155.03058809866445, 23.8932..."
4,pages_viewed,int64,0,0.0,0,14,"4, 6, 3, 9, 2"
5,device,object,0,0.0,0,3,"Desktop, Mobile, Tablet"
6,browser,object,0,0.0,0,5,"Chrome, Other, Edge, Firefox, Safari"
7,country,object,0,0.0,0,6,"US, UK, Canada, Australia, Germany"
8,age_group,object,60,3.0,0,5,"18-24, 35-44, 45-54, 25-34, 55+"
9,returning_user,bool,0,0.0,0,2,"False, True"
10,revenue,float64,0,0.0,0,248,"0.0, 66.93759681816441, 74.2602714592587, 24.2..."
11,timestamp,object,0,0.0,0,1948,"2024-01-29 20:12:00, 2024-01-13 10:30:00, 2024..."